body {
	background: rgba(201, 228, 255, 0.8);
	font-family: 'Lato', sans-serif;
}

#content {
	background: rgb(255, 255, 255);
	/* padding: 25px; */
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.form-control:focus {
	box-shadow: none;
	border-color: #58A846;
}
.list-group-item {
    border: none;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}

.list-group-item{
	color:black;
}
.disabled-link {
	color:inherit;
	text-decoration:none;
}
.disabled-link:hover {
	color: inherit;	
}
