{% extends "to_do_manager/base.html" %}
{% block content %}
<div class="row my-5">
    <h1 class="col-12 text-center">Your learning goals</h1>
    <a class="col-12 text-center" href="#">See all in a table</a></h1>
</div>

<div class="row">
    {% for learninggoal in LearningGoals  %}
    <div class="col-3">
        <div class="card mb-2" style="max-width: 18rem;">
            <div class="card-header d-flex justify-content-between">
                <p class="mb-1">{{ learninggoal.name }}</p>
                <a href="{% url 'tasks' learninggoal.pk %}"><i class="fas fa-pen-square"></i></a>
            </div>
            <div class="card-body">
                {%for single_task in learninggoal.tasks.all %}
                <li>{{single_task}}</li>
                {% endfor %}
                <li>{{learninggoal.tasks.all.count}}/{{learninggoal.counter}}</li>
            </div>
            <div class="card-footer text-muted">Last updated: {{ learninggoal.updated_at| date:"d.m.Y" }}</div>
        </div>
    </div>
    {% endfor %}
</div>

<a class="btn btn-success btn-lg mt-5" href="{% url 'create_goal' %}" role="button">Add New</a>
{% endblock content %}