{% extends "to_do_manager/base.html" %}
{% block content %}
<div class="row my-5">
    <h1 class="col-12 text-center">Your learning goals</h1>
    <a class="col-12 text-center" href="#">See all in a table</a></h1>
</div>

<div class="row">
    <div class="col-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Zadanie 1</div>
            <div class="card-body">
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
            </div>
            <div class="card-footer text-muted">Last updated: ...</div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Zadanie 1</div>
            <div class="card-body">
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
            </div>
            <div class="card-footer text-muted">Last updated: ...</div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Zadanie 1</div>
            <div class="card-body">
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
            </div>
            <div class="card-footer text-muted">Last updated: ...</div>
        </div>
    </div>
    <div class="col-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header">Zadanie 1</div>
            <div class="card-body">
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
                <li>Nauczyc sie x i y</li>
            </div>
            <div class="card-footer text-muted">Last updated: ...</div>
        </div>
    </div>
</div>
{% endblock content %}