.hello-msg {
    font-size: 18px;
    color: #ffffff;
    margin: 0 20px 0 0;
}
.logout:hover {
    color: #ffffff;
    text-decoration: underline;
}
.card-header p{
    font-size: 1.25rem;
}
.fa-pen-square {
    font-size: 30px;
}