{% extends "to_do_manager/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="d-flex justify-content-center h-100 mt-5">
	<div class="user_card creating-goal">
		<div class="d-flex justify-content-center mt-3">
			<h3>{{learning_goal.name}}</h3>
		</div>
		<div class="d-flex justify-content-center form_container">
			<div class="row justify-content-center mr-3">
				<form class="" action="" method="POST" id="createTaskForm"
					data-url="{% url 'task_list_url' learning_goal.pk %}">
					{% csrf_token %}
					<div class="input-group">
						{{ form.text|attr:"autofocus"|add_class:"form-control"|attr:"placeholder:Enter your todo"}}
					</div>
			</div>
			<div class="">
				<button type="button" name="button" class="btn login_btn" id="createButton">Create</button>
			</div>
			</form>
		</div>
		<div class="col-12 my-4" id="taskList">
			{% for task in tasks  %}
			<div class="card mb-1" id="taskCard" data-id="{{task.id}}"
				style="{% if task.completed %} text-decoration: line-through {% endif %}">
				<div class="card-body">{{ task.text }}
					<button class="close float-right" type="button" data-id="{{task.id}}">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</div>
</div>
{% endblock content %}




{% comment %}

<div class="row my-5">
	<h1 class="col-12 text-center"></h1>
</div>
<div class="row justify-content-center">
	<div class="col-8 mt-5">
		<form class="form-inline justify-content-center" action="" method="POST" id="createTaskForm"
			data-url="{% url 'task_list_url' learning_goal.pk %}">
			{% csrf_token %}
			{% for field in form%}
			<div class="row">
				{{field}}
			</div>
			{% endfor %}

			<button type="button" name="button" class="btn btn-outline-success" id="createButton">Create</button>
		</form>
	</div>
	<div class="col-8 mt-5" id="taskList">
		{% for task in tasks  %}
		<div class="card mb-1" id="taskCard" data-id="{{task.id}}"
			style="{% if task.completed %} text-decoration: line-through {% endif %}">
			<div class="card-body">{{ task.text }}
				<button class="close float-right" type="button" data-id="{{task.id}}">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

{% endcomment %}