{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'to_do_manager/css/panel-styles.css' %}">
	<title>Single to do DOPISZ TOOOOO</title>
</head>

<body>
	<div class="container-fluid" id="wrapper">

		<div class="row mt-5">
			<div class="col-4 offset-4" id="content">
				<h2 class="my-4">WHAT DO YOU WANT TO DO TODAY?</h2>

				<form action="" method="POST" role="form">
					{% csrf_token %}
					<div class="form-row  my-2">
						<div class="form-group col-12">
							<div class="input-group">
								{% comment %}
								{{ form.text|attr:"autofocus"|add_class:"form-control"|attr:"placeholder:Enter your todo"}}
								{% endcomment %}
								<button type="submit" class="btn btn-success ml-2 ">ADD</button>
							</div>
						</div>
						<div class="form-group col-12">
							<div class="input-group d-flex justify-content-around">

								<a href="#" type="submit" class="btn btn-warning"><i class="fa fa-trash"
										aria-hidden="true"></i> SELECTED</a>
								<a href="#" type="submit" class="btn btn-warning"><i class="fa fa-trash"
										aria-hidden="true"></i> ALL</a>
							</div>
						</div>
				</form>

				<ul class="list-group col-12">
					{% for task in tasks %}
					{% if task.completed %}
					<a class="disabled-link" href="#">
						<li class="list-group-item todo-completed">{{ task.text }}</li>
					</a>
					{% else %}
					<a class="disabled-link" href="#">
						<li class="list-group-item">{{ task.text }}</li>
					</a>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>



	<!-- Bootstrap JavaScript -->
	<script src="static/js/bootstrap.min.js"></script>
</body>

</html>